.containerActions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 160px;
}

.cartContainer table{
    border-collapse: collapse;
}

.cartContainer table tr th {

    padding: 30px;
}

.cartContainer table tr{

   border-bottom: solid 1px rgb(231, 231, 231);
}

.containerNoItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px;
    gap: 20px;
}

.containerNoItems a{

    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 255, 255);
    border: none;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    width: 200px;

}

.containerNoItems a:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}

.containerActions Button{
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    border: none;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 0, 0);
    width: 200px;
}

.containerActions Button:hover{
    background-color: white;
    color: red;
    border: 1px solid red;
}


@media only screen and (max-width:576px) {

    .cartContainer table tr th {

        padding: 10px;
        font-size: 0.9rem;
        font-weight: 500;
    }
    

    .cartContainer{
        gap: 30px;
        max-width: 576px;
    }

    .containerActions{
        gap: 20px;
        max-width: 768px;
    }

    .containerBut{
        display: flex;
        gap: 10px;
    }
    
    

}

@media only screen and (max-width:768px){

    .cartContainer table tr th {

        padding: 10px;
        font-size: 1rem;
        font-weight: 600;
        max-width: 768px;
    }
    

    .cartContainer{
        gap: 30px;
        max-width: 768px;
    }

    .containerActions{
        gap: 20px;
        max-width: 768px;
    }

    .containerBut{
        display: flex;
        gap: 10px;
    }

}