.CardItem {
    position: relative;
  }
  
  .containerBadgeDisc {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: red;
    color: white; 
    padding: 5px;
    font-weight: 500;
  }
  

  .pricesSale{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin: 0px;
  }

  .InfoDisc{

    font-size: 0.8em;
    margin: 5px 0px 0px 0px;

  }

  .tachado {
    text-decoration: line-through;
    font-weight: bold;
  }


  .ItemHeaderSale{
    margin: 5px;
    font-size: 100%;
    font-weight: 400;
    min-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }