.ItemImg{
    width: 100%;
    height: 100%;
}

.CardItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CardItem picture{
    height: 200px;
    width: 200px;
}

header h2{
    margin: 5px;
    font-size: 120%;
}

.Info{
    font-size: 150%;
    font-weight: bold;
    margin: 0;
}

.Info2{
    margin: 5px;
}

footer{
    margin-top: 8px;

}

.Options {
    text-decoration: none;
    color: black;
    border: solid 1px grey;
    padding: 4px;
    border-radius: 8px;
    text-align: center;

}

.Options:hover{
    background-color: rgba(78, 78, 78, 0.205);
}
