
.navBar{

    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin: 50px 50px 20px 50px;

}

.navBar img{

    width: 80%;

}

.navBar ul {

list-style: none;
display: flex;
gap: 90px;

}

.navBar ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    
}

.navBar ul li:hover{
    transform: scale(1.1);
    transition-duration: .2s;
}

.catList{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

}