.navBar {
    display: flex;
    flex-direction: column;
    border-top: solid 35px red;
}

.logo{
    width: 100%;
    float: left;
}

.navBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 90px;
    background-color: red;
}

.navBar ul li a {
    text-decoration: none;
    color: black;
    font-size: medium;
    font-weight: bold;
    color: white;
}

.navBar ul li:hover {
    transform: scale(1.05);
    transition-duration: 0.1s;
}

.navBar ul li a:hover {
    color: yellow;
}

.containerLogo-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}

.containerLogo-cart a {
    max-width: 100px;
}

.cart {
    margin-left: auto;
}

.catList {
    position: relative;
    background-color: red;
}

.menu-icon {
    display: none;
}

.icon {
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    margin-right: 5px;
    margin: 15px;
}

@media (max-width: 768px) {
    .menu-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    }

    .navBar ul {
        display: none;
    }

    .menu {
    position: static;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    display: flex;
    }

    .menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }

    .menu.active + .navBar ul {
    display: flex;
    }

    .menu li {
    margin-bottom: 0;
    }

    .icon{
        height: 20px;
        display: flex;
        justify-content: start;
    }
}
